<div class="jumbotron">
  <h3>Інформація Користувача</h3>
  <form method="post" action="/user/<%= user.id %>?_method=put" >      
    <% include _form.ejs %>
  </form>
  <form method="post" action="/user/<%= user.id %>?_method=delete">
    <button class="btn btn-sm btn-primary btn-danger" type="submit" onClick="return confirm('Ви хочите видалити цей акаунт? <%= user.username %>');">
    Видалити акаунт
    </button>
  </form>
</div>
